title = "Blog"
url = "/blog"
layout = "default"
description = "this is blog page for listing all posts"
is_hidden = 0
==
<?php
use Denish\Blog\models\Post;
use Denish\Blog\models\Category;

function onStart()
{
   if (!empty($_REQUEST['search'])) {
    
       $input = Input::all();
       $searchval = trim($input['search']);
       $this['searchval']=$searchval;
       $posts = Db::table('denish_blog_posts as p')
                    ->leftJoin('denish_blog_posts_categories as c', 'p.id', '=', 'c.post_id')
                    ->leftJoin('denish_blog_categories as bc', 'c.category_id', '=', 'bc.id')
                    ->where('p.title', 'LIKE', '%' . $searchval . '%')
                    ->orWhere('bc.name', 'LIKE', '%' . $searchval . '%')
                    ->groupBy('p.id')
                    ->select('p.*',DB::raw("group_concat(c.category_id) as cat_ids"),DB::raw("group_concat(bc.name) as cat_name"))
                    ->paginate(1);
       //$posts = Post::where('title','LIKE',"%{$searchval}%")->paginate(1);
       //$posts = Post::with('categories')where('title','LIKE',"%{$searchval}%")->paginate(1);
       //echo "<pre>";print_r($posts);exit;
       if(!empty($posts))
       {
           $posts->appends(['search' => $searchval]);
           $this['posts']=$posts;
       }
       else
       {
           $this['posts']=array();
       }
       //$this['categories'] = Category::all();
    }
    else
    {
       $posts = Db::table('denish_blog_posts as p')
                    ->leftJoin('denish_blog_posts_categories as c', 'p.id', '=', 'c.post_id')
                    ->leftJoin('denish_blog_categories as bc', 'c.category_id', '=', 'bc.id')
                    ->groupBy('p.id')
                    ->select('p.*',DB::raw("group_concat(c.category_id) as cat_ids"),DB::raw("group_concat(bc.name) as cat_name"))
                    ->paginate(1);
      
       //echo "<pre>";print_r($posts);exit;
       if(!empty($posts))
       {
           $this['posts']=$posts;
       }
       else
       {
           $this['posts']=array();
       }
       //$this['posts'] = Post::paginate(1);
       //$this['categories'] = Category::all();
    }
}
?>
==
<div>
    <div style="float:left; width:70%;">
    <ul class="post-list">
        {% for  post in posts %}
        <li>
            <h3><b>{{post.title}}</b></h3>
            <h4>{{post.cat_name}}</h4>
            <p class="excerpt">{{post.content |raw}}</p>
            {% if post.summary != '' %}
            <p class="excerpt">{{post.summary |raw}}</p>
            {% endif %}
        </li>
        {% endfor %}
        {{ posts.render|raw }}
    </ul>
    </div>
    <div style="float:left;width:30%;margin-top:15px;">
    <form name="search-form"  action="{{ 'Blog'|page }}">
        {% if searchval != '' %}
            <input type="text" name="search" value="{{ searchval }}">
        {% else %}
            <input type="text" name="search">
        {% endif %}
    <input type="submit" value="Go">
    </form>
    </div>
</div>